html, body {
  height: 100%;
  margin: 0;
}
body.background{
  background-color: #ba1c1c;
}
div.container{
  padding: 0;
  min-height: 657px;
  text-align:center;
  display:table;
}
div.vertical{
  text-align: center;
  vertical-align:middle;
  display:table-cell;
  padding: 5px;
}
div.card{
  padding: 0;
  background-color: #ba1c1c;
  border: 0;
}
img.img-fluid{
  margin-bottom: 20px;
}
div.card-body{
  padding: 0;
}
p.card-text{
  margin: 0;
}
p.text{
  font-family: 'Inknut Antiqua', serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}
p.person{
  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  color: #ffffff;
  margin-top: 10px;
}
img.emoji{
  width: 23px;
}
p.space{
  margin-bottom: 20px;
}
@media (max-width: 550px){
  img.img-fluid{
    width: 100%;
  }
  div.vertical{
    padding: 0;
  }
  div.card-body{
    padding: 0 5px;
  }
}
